<script type="text/javascript">
  function guid() {
    function s4() {
      return Math.floor((1 + Math.random()) * 0x10000)
        .toString(16)
        .substring(1);
    }
    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
      s4() + '-' + s4() + s4() + s4();
  } 
    
  // UI event handlers
  $(function () {
    $('#silentauth-user').click(function (e) {
      e.preventDefault();      

      // generate and store state value
      var state = guid();
      window.localStorage.setItem('state', state);

      webAuth.renewAuth({
        scope: 'openid profile read:foo',
        audience: '<%= api_audience %>',
        responseType: 'token',
        state: state,
        usePostMessage: true, 
        redirectUri: 'https://<%= sp_domain %>/silentauth-callback'
      }, function(err, authResult){
        console.log('authResult:', authResult);

        var requiredState = window.localStorage.getItem('state');
        window.localStorage.removeItem('state');

        if (authResult && authResult.state !== requiredState) {
          err = { error: 'invalid_state', errorDescription: 'The OAuth2 state does not match' };
        }
              
        if (err) {
          alert("something went wrong: " + (err.message || err.error));
          if (err.error === 'login_required')  $('.login').click();
          return;
        }

        $('#token').text(authResult.accessToken);
        window.localStorage.setItem('access_token', authResult.accessToken);

        webAuth.client.userInfo(authResult.accessToken, function (err, profile) {
          if (err) {
            return alert('error fetching profile: ' + JSON.stringify(err));
          }
          alert('hello, ' + profile.name + ', your access_token was obtained silently.');
        });
      });
    });

    $('#logout-user').click(function (e) {
      e.preventDefault();
      window.localStorage.removeItem('access_token');
      webAuth.logout({client_id:'<%= auth0_client_id%>', returnTo: 'https://<%= sp_domain%>/login', federate: true});
    });
  });
</script>

<div class="row">
  <div class="col-xs-12">
    <h4>Hi <%= email %>, Your SAML session Index: <%= sessionIndex %> and your name_id: <%= nameid %></h4>
    <input type="button" class="btn btn-default" id="silentauth-user" value="Get Token for calling API" />
    <br/>
    <label for='token'>Access Token</label>
    <pre id='token'></pre>
  </div>

  <div class="col-xs-6">
    <h2>Logout</h2>
    <input type="button" class="btn btn-default" id="logout-user" value="Logout" />
  </div>
</div>
